@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Background
body {
  background: #1a1e23;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;

  width: 100%;
  height: 100%;
}

section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  color: #e4e4e4;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  button {
    padding: 8px 16px;
    width: 50%;
    min-width: 32px;
    border: none;
    border-radius: 12px;
    background-color: #e4e4e4;
    color: #1a1e23;
    font-weight: 600;
    cursor: pointer;
  }
}

.stamp {
  width: 18vh;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  position: absolute;
  top: 8%;
  left: 8%;
  border-radius: 50%;
  background-color: #7141d9;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f0f0f0;
  transform: rotate(-15deg);
  box-shadow: 3px 3px 20px 2px RGBA(113, 65, 217, 0.6);
}

@media (max-width: 768px) {
  .stamp {
    width: 15vh;
    height: 15vh;
    top: 5%;
    left: 5%;
    font-size: 1rem;
  }
}
