@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #f4f3ee;
$white-hover: #e9e6d8;
$secondary-white: #eceef3;
$black: #242424;
$primary-color: #1d2a4a;
$secondary-color: #39518f;
$secondary-color-hover: #455fa1;
$tertiary-color: #739bfd;
$tertiary-color-hover: #8cacfe;
$complementar-color: #cb731d;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 80px;
  background-color: $secondary-color;
  background: linear-gradient(135deg, rgba(57, 81, 143, 1) 30%, rgba(62, 89, 156, 1) 70%);
  box-shadow: 0px 1px 2px 2px rgba(36, 36, 36, 0.1);

  span {
    color: $white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: none;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;

    li a {
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;
      color: $white;
      padding: 8px;
      transition: ease-in-out 0.5s;
      &:hover {
        color: $white-hover;
      }
    }
  }
}

main,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 32px;
}
main {
  gap: 64px;
  background-color: $primary-color;
  background: linear-gradient(135deg, rgba(29, 42, 74, 1) 30%, rgba(34, 49, 87, 1) 70%);
  width: 100%;
  height: 100%;
  margin-top: 80px;
  color: $white;

  img {
    width: 100%;
    height: 70vh;
    max-width: 500px;
    object-fit: cover;
    border: none;
    border-radius: 8px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: none;
    color: $white;
  }

  p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 16px auto;
    max-width: 500px;
  }

  button {
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: $tertiary-color;
    font-size: 1.1rem;
    font-weight: 500;
    transition: ease-in-out 0.5s;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      color: $white;

      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      background-color: $tertiary-color-hover;
    }
  }
}
section#challenges {
  flex-direction: column;
  background-color: $white;
  color: $primary-color;
  gap: 32px;

  div#gridchallenges {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.challenge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;

    text-align: center;
    width: 100%;
    min-width: 250px;
    height: 100%;
    padding: 32px;
    border-radius: 8px;
    background-color: $secondary-white;

    h3 {
      color: $secondary-color;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
      border-radius: 8px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      font-weight: 600;
      color: $secondary-color;

      width: 100%;
      border: 2px solid $secondary-color;
      border-radius: 8px;
      padding: 4px;
      text-decoration: none;
      transition: ease-in-out 0.5s;

      &:hover {
        color: $secondary-color-hover;
        border-color: $secondary-color-hover;

        svg {
          fill: $secondary-color-hover;
        }
      }
    }
  }
}

section#contact {
  background-color: $tertiary-color;
  color: $white;
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }
  main {
    flex-direction: column;
    div#main_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
      max-width: 500px;
      object-fit: cover;
      border: none;
      border-radius: 8px;
    }
  }

  section#challenges {
    gap: 16px;
    div#gridchallenges {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 480px) {
  header {
    padding: 16px 32px;
    span {
      font-size: 1rem;
    }
  }
  main,
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
  }
  main {
    gap: 32px;
    div#main_content {
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
      button {
        padding: 8px 16px;
        font-size: 0.8rem;
      }
    }
  }
  section#challenges div#gridchallenges {
    grid-template-columns: 1fr;
  }
}
