@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #399181;
  color: #eee7ce;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
}

main h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
main div#count {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  width: 300px;
  height: 160px;
  padding: 16px;
  background-color: #064439;
  border-radius: 32px;
}

div#count p {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #eee7ce;
  color: #064439;
  padding: 8px 16px;
  border-radius: 28px 2px 2px 28px;

  font-weight: 400;
  font-family: 'Share Tech Mono', monospace;
  font-size: 4em;
  text-align: center;
}
div#controls {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 100%;
}
div#controls button.btn {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 1.5em;
  color: #eee7ce;
  border: none;
}
div#controls button.btn:nth-child(1) {
  background-color: #0d9179;
  border-radius: 2px 28px 2px 2px;
}
div#controls button.btn:nth-child(2) {
  background-color: #de2a34;
  border-radius: 2px 2px 28px 2px;
}

span.stamp {
  width: 18vh;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  position: absolute;
  top: 8%;
  left: 8%;
  border-radius: 50%;
  background-color: #04545c;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f0f0f0;
  transform: rotate(-15deg);
  box-shadow: 3px 3px 20px 2px RGBA(4, 84, 92, 0.59);
}

@media (max-width: 768px) {
  .stamp {
    width: 15vh;
    height: 15vh;
    top: 5%;
    left: 5%;
    font-size: 1rem;
  }
}
